@charset "UTF-8";
/*共通部分-------------------------*/
html {
  font-size: 100%;
}
body{  
  font-family: YakuHanJP, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", メイリオ, Meiryo, sans-serif;
  border:12px solid #eeedea;
  min-width: 1060px;
  position: relative;
}
a{
  text-decoration: none;
}
.wrapper{
  max-width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
}

 /*ヘッダー-----------------------------*/
.headerInfo{
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 50px;
}
.headerLeft{
  padding-top: 30px;
  padding-left: 20px;
  position: relative;
}
.logo{
  width: 170px;
  height: 23px;
  margin-right: 1rem;
  position: absolute;
}
.dash {
  margin-right: 0.5rem;
  width: 28px;
  position: absolute;  
  top: 40px;
  left: 215px;
}
.subTitle{  
  width: 320px;
  font-size: 0.825rem;
  letter-spacing: 0.12rem;
  position: absolute;
  left:250px ;
}
.headerRight img{  
  width: 350px;
  height: 90px;  
  margin-top: -12px;
}
/*TOP-------------------------------------*/

.top{
  display: flex;
  margin-top: 90px;
}
.top-img{
  margin-right:30px ;
  width: 555px;
  height: 418px;
}
.introduction{ 
  margin: 25px 10px;
}
.introduction p{
  width: 360px;
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: .4rem;  
  line-height: 2.65rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.info{
  display: flex;
  flex-direction: column;
}
.info span{
width: 430px;
font-size: 0.875rem;
line-height: 1.8rem;
letter-spacing: .1rem;  
}
/*form-----------------------------*/

.contact {
  display: flex;
  margin-top: 80px;
}
.contact_info{
  width: 475px;
  margin-right: 25px;
}
.secondary {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 22px;
}
.tertiary{
  display: flex;
  flex-direction: column;
}
.radio_button {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
/*テキストエリア*/
.question_info {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 315px;
}
.question_info label{
  margin-bottom: 0.5rem;
}
label{
  font-weight: bold;
  font-size: 0.875rem;
}
.radio_button label,
input::placeholder,
textarea::placeholder{
  font-size:0.875rem ;  
}
textarea::placeholder{
  max-width: 400px;
  min-width: 400px;
}
.contact label{
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.radio_button label{
  font-weight: normal;
}
.contact_info label,
.contact_info span{
  text-align: right;
  margin-right: 1rem;
}
.Mandatory{
  color: #db1111;
  font-size: 0.7rem;
}
.infomation,
.question_info textarea{
  background-color: #eeedea;
}
.infomation{
  min-width: 320px;
  padding-left:1rem ;
  height: 35px;
}
textarea{
  padding: 1rem; 
}
/*from　ボタン*/
.button-content{
  height: 115px;
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.button{
  display: block;
  height: 45px;
  width: 605px;
  line-height: 45px;
  font-weight: bold;
  background-color: black;
  color: #fff;  
  border-radius: 23px; 
  position: relative;
  transition:all 0.1s;
}
.button:hover{
  display: block;
  height: 44px;
  width: 587px;
  font-size:.95rem ;
  opacity: 0.8;  
  letter-spacing: normal;
}
.button span{
  color: black;
  position: absolute;
  right: 20px;
  z-index: 2;
}
.button-img{
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

/*NAV-----------------------------*/
.nav-content{
  height: 245px;
  border-top: 10px solid #eeedea;
  border-bottom: 10px solid #eeedea;
  background-color: #ffA800;
}
.nc-container{ 
  display: flex;
}
.nav-icon{  
  position: relative;
  margin-top: 30px;
  margin-left: 120px;
}

.nav-menu{
  width: 570px;
  margin-top: 35px;
}
.nav-menu-list{  
  list-style: none;
}
.nav-menu-list li{  
  float: left;
  font-size: .9rem;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  padding: 6px 12px;
  margin: 5px;
}
/*NAV画像と文章*/
.pc {display: block;}
.sp {display: none;}
.nv-p-pc{
  font-weight: bold;
  color: #ffa800;
  line-height: 1.1rem;
  position: absolute;
  top: 88px;
  left:25px;
}
.nv-p-sp{
  display: none;
}

/*FEATURES-----------------------------*/
.features-section{
  margin-top: 90px;
}
.section-title{
  font-size: 2rem;
  letter-spacing: 5px;
  text-align: center;
}
.section-menu{
  display: flex;
  margin-top: 40px;
  margin-bottom: 80px; 
}
.section-content{
  width: 285px;
  margin-right: 85px;    
}
.section-content h2{  
  font-size: 3rem;
  font-family: Quicksand,sans-serif;
  color: #ff9600;
  letter-spacing: 1px;
}
.section-content h3{
  font-size: 1.45rem;
  margin-bottom: 2px;
}
.section-content p{
  white-space: normal;
  text-align: justify;  
  min-width: 285px;
  
}
.section-content ul{  
  font-size: 0.9rem;
  font-weight: bold;
  list-style: none;
  margin-top: 30px;
  margin-left: 15px;
}
.section-content li::before{
  content: "";
  width: 6.25px;
  height: 6.25px;
  display: inline-block;
  background-color: #272727;
  border-radius: 100%;
  position: relative;
  top: -2px;
  left: -15px;
}
/*FEATURES ボタン*/
.features-section .button-img{
  transform: rotate(90deg);  
}
.features-section .button span{
  transform: rotate(90deg);
  right: 18px;
}
/*PERFORMANCE-----------------------------*/

/*大きい実績*/
.performance-content{
  border-top: 10px solid #eeedea;
}
.performance-content h2{
  font-size: 2.125rem;
  margin-top: 70px;
  margin-bottom: 50px;
  letter-spacing: 1.2px;
  text-align: center;
}
.performance-menu{
  display: flex;
  margin-bottom: 80px;
  line-height: 1.2;
}

.performance-menu img{
  box-shadow:0 5px 5px 0 rgba(201, 188, 188, 0.637);
}
.performance-menu-text{
  max-width: 300px;
  min-width: 300px;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
}
.monotukuri-text,
.aisei-text{
  margin-left: 40px;
}
.sb-text{
  margin-right: 40px;
}
.performance-title{
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  color: #ff9600;
  font-weight:bold;
  margin-bottom: 25px;  
}
.perfonmance-subtitle{
  font-size: 1.875rem;
  font-weight: bold;  
  text-align: left;
  margin-bottom: 25px;
  letter-spacing: .1rem;
}
.pf-flex{
  display: flex;
}

.pf-f-list1,
.pf-f-list2{
  list-style: none;
}
.pf-f-list1 li,
.pf-f-list2 li{
  font-size: 0.85rem;
  margin-bottom: 10px;
}
.pf-f-list1 li{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}
.pf-f-list2{
  margin-left: 30px;
  color: #808080;
  opacity: .8;
}

.performance-list{ 
  list-style: none;
  font-size: 0.95rem;
  width: 280px;
  margin-top: 15px;
  margin-left: 15px; 
  letter-spacing: 1px;
}

.performance-list li::before{
  content: "";
  width: 6.25px;
  height: 6.25px;
  display: inline-block;
  background-color: #272727;
  border-radius: 100%;
  position: relative;
  top: 18px;
  left: -15px;
}
.performance-list li{
  margin-top: -15px;
}
.pf-flex a,
.customer-voice{
  color: #5e8adb;
  text-decoration:underline;
}
.customer-voice{
  display: block;
  text-align: center;
  width: 100%;
  margin-top:30px;
}
.sb-text,
.aisei-text{
  margin-top: 70px;
  height: 400px;
}
/*小さい実績*/
.grid-box{
 display: grid; 
 grid-template-columns: repeat(2,1fr);
}
.mini-text{
  padding-top: 10px;
  margin: 0 20px 0 25px;
  min-width: 250px;  
}
.mini-title{
  font-size: 1rem;
  margin-bottom: 15px;
}
.mini-subtitle{
  font-size: 1.2rem;
}
.mini-list2{
  margin-left: 15px;
}
.mini-list1 li,
.mini-list2 li{
  font-size: 0.75rem;
}
.li-item{
  margin-top: 23px;
}
.r-pf-mini-box{
  display: none;
}

/*PERFORMANCE-ANNOUNCE------------------------*/
.performance-announce{
  height: 380px;
  background: #272727;
  border-top:10px solid #eeedea;
  border-bottom:10px solid #eeedea;
}
.announce-text{
  width: 50%;
  text-transform: uppercase;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 20px;
  float: left;
}
.announce-text h2{
  font-weight: bold;
  font-family: Quicksand,sans-serif;
  color: #ff9600;
  letter-spacing: .1rem;
}
.announce-text p{
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  width: 450px;
  margin-top: 20px;
  line-height: 1.25;
}
.an-img{
  height: 360px;
  width: 50%;
  background-image: url(../img/image-kiritori.jpg); 
  border-left:10px solid #eeedea;  
  float: right; 
}
.r-an-img{
  display: none;
}

/*アナウンス　ボタン*/
.performance-announce .button-img{
  mix-blend-mode: difference;
  opacity: 0.8;
 }
.an-button-content{
  width:500px ;
  margin-top: 30px;
}
.an-button{
  width: 430px;
  background-color: #fff;
  color: #272727; 
  margin-left: -65px;
}
.an-button:hover{  
  width: 420px;
  background-color: #fff;
  opacity: 1;
}
.an-button span{
  color: #fff;
}


/*QUESTION-----------------------------*/
.question-section{
  margin: 0 auto;
}
.question-section h1{
  text-align: center;
  margin-top: 80px;
}
#container{
  width: 880px;
  padding-left: 90px;
  margin-top: 50px;
  margin-bottom: 100px;
  display: grid;
  grid-template-rows: 100px 50px;
  grid-template-columns: 150px 1fr;
}
#itemA{
  grid-row: 1/3;
  grid-column: 1;
  margin-left: 90px;
}
#itemB{
  margin-top: 10px;
  font-size: 1.25rem; 
  height: 30px;
  grid-row: 1;
  grid-column: 2;
}
#itemC{
  height: 115px;
  padding: 19px;
  margin-top: -35px; 
  grid-row: 2;
  grid-column: 2;
  background-color:#eeedea ;
}
#itemC h3{
  font-size: 1.1rem;
}
#itemC p{
  font-size: 0.98rem;
  margin-top: 10px;
  line-height: 1.3;
}
/*お問い合わせナビ----------------------*/
.request-nav{
  height: 265px;
  background-color: #ff9600;
}
.request-nav .nav-icon{
  margin-top: 40px;
}
.nav-flex{
  display: flex;
  margin-left: -139px;
}
.request-nav .nv-p-pc{
  font-size: 1.25rem;
  line-height: initial;
  text-align: center;
  color: #ff9600;
  top: 50px;
  left: 20px;
}
.request-flex{
  display: flex;
  margin-top: 63px;
  margin-left: 30px;
}
.request-flow{
  margin-left: 10px;
}
.request-flow h3{
  color: #fff; 
  margin-bottom: 5px;
  width:290px;
}
.request-flow p{
  font-size: 0.93rem;
  line-height: 1.4;
  color: #fff;
  width: 200px;
}
.item2{
  margin-left: -15px;
}
.item3{
  margin-left:-3px ;
}
.r-question{
  display: none;
}
.r-req-nv{
  display: none;
}

/*お問い合わせ----------------------*/
.request-content{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}
.request-content h1{
  font-size: 2.2rem;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.request-content img{
  width: 115px;
  margin-bottom: 24px;
}
.request-p1{
  margin-bottom: 25px;
  line-height: 1.3;
}

.request-p2{
  font-size: .75rem;
  line-height: initial;
}
.r-request-p1,
.r-request-p2{
  display: none;
}
/*リクエストコンテンツ　コンタクト部分*/
.request-content .radio_button{
  text-align: initial;
}
.request-content .contact{
  flex-direction: column;
}
.request-content .contact_info,
.request-content .question_info{
  text-align: left;
  
}
.request-content .contact_info{
  margin-left:200px ;
}
.request-content .question_info{
  width:600px ;
  height: 240px;
  margin-left: 245px;
  flex-direction: row;
}
.request-content textarea{
  width: 430px;
  margin-left: 20px;
}

/*TEL-SECTION-----------------------*/

.tel-section{
  text-align: left;
  margin-bottom: 80px;
  padding-left:285px ;
  display: flex;
}
.tel-section img{
  width: 125px;
}
.tel-text{
  margin-left: 25px;
}
.tel-text h3{
  letter-spacing: 2.25px;
  margin-bottom: 5px;
}
.tel-text p{
  font-size: 2.25rem;
  font-family: Quicksand,sans-serif;
  color: #ff9600;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.tel-box{
  display: flex;
  
}
.tel-label label,
.tel-span span{
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: .9rem;
}
.tel-span{
  margin-left: 20px;
  color: #989898;
}
.r-tel-img{
  display: none;
}
/*フッター----------------------*/

footer{
  height: 270px;
  background:#eeedea ; 
  position: relative;
}
.footer-logo{
  padding-top: 75px;  
  margin-left:30px;
}
footer .flex{
  display: flex;
  justify-content: center;
}

footer img{
  width: 170px;
}

.footer-text{
  margin-top: 75px;
  margin-left: 105px;
  display: flex;
}
.footer-list{
  list-style: none;
  font-size: .8rem;
}
.label-list li,
.co-list li{
  margin-bottom: 3px;
  letter-spacing: 1px;
}
.label-list{
  font-weight: bold;
}
.co-list{
  margin-left:20px ;
}
.copyright{
  font-size: 0.7rem;
  color: #adadad;
  display: block;
  text-align: center;
  letter-spacing: 1px;
}

/*フッター　ボタン*/
footer .button-content{
  margin-top: 10px;
  margin-left: -15px;
  width: 200px;
}
footer .button{  
  font-size: 0.8rem;
  width:180px ;
  height: 31px;
  line-height: 31px;
  color: #000;
  font-weight: normal;
  background-color: #fff;
  box-shadow:0 5px 5px 0 rgba(0,0,0,.2)
}
footer .button:hover{
  width:176px ;
  height: 30px;
  font-size: 0.75rem;
  box-shadow:0 3px 3px 0 rgba(0,0,0,.1)
}
footer .button span{
  color: #fff;
  right: 18px;
}
footer .button-img{
  width: 25px;
  mix-blend-mode: difference;
  opacity: 0.3;
  top: 5px;
 }
 .r-footer-bt-content{
   display: none;
 }

/*ガイドボタン------------------------------*/
/*ガイドボタン　PC　上部*/
.gd-top-position{
  position: absolute;
  top: 30px;
  right: 30px;
}
.gaide-top{
  width: 250px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
.gaide-top-button{
  display: block;
  height: 45px;
  width: 200px;
  line-height: 45px;
  font-weight: bold;
  background-color: black;
  color: #fff;  
  border-radius: 23px; 
  position: relative;
  transition:all 0.1s;
}
.gaide-top-button:hover{
  display: block;
  height: 44px;
  width: 194px;
  font-size:.95rem ;
  opacity: 0.8;  
  letter-spacing: normal;
}
.gaide-top-button span{
  color: black;
  position: absolute;
  right: 20px;
  z-index: 2;
}
.gaide-top-button img{
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.gaide-top-button img{
  transform: rotate(90deg);  
}
.gaide-top-button span{
  transform: rotate(90deg);
  right: 18px;
}
/*ガイドボタン　SP　中部*/

.gaide-middle{
  display: none;
}

/*ガイドボタン　PC　下部*/
  .gd-und-position{
    position: absolute;
    top: -50px;
    right: 140px;
  }
  .gaide-under{
    position: relative;
  }

  .gaide-under img{
    width: 90px;
    animation-name:rotation2;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
 
  .gaide-under img:hover{
    animation-name:rotation1;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  @keyframes rotation1{
    0%{transform:rotateX(0);}
    100%{transform: rotateX(180deg);}
  }
  @keyframes rotation2{
    0%{transform:rotateX(180deg) ;}
    100%{transform: rotateX(0deg);}
  }

 .gaide-under p{
   font-size: 0.95rem;
   font-family: Quicksand,sans-serif;
   font-weight: bold;
   color: #fff;
   position: absolute;
   top: 45px;
   left: 25px;
   text-align: center;
   letter-spacing: 0.8px;
 }


 /*モバイル版-------------------------------*/
    @media(max-width:640px){
      /*共通部分---------------------*/
      body{
        min-width: 480px;
        border:none;
      }
      header{
        min-width: 460px;
      }
      .wrapper{
        min-width: 400px;
      }
      .r-box{
        border: 10px solid #eeedea;

      }
      /*ヘッダー---------------------*/

      .headerLeft{
        margin-left: -10px;
        padding-top: 10px;
        padding-right: 10px;
        position: unset;
        display: flex;
      }
      .subTitle{
        width: 45vw;
        font-size: 3.2vw;
        letter-spacing: 1px;
        line-height: 1.1;
        position: unset;
      }
      .subTitle span::before{
        content: '\A';
        white-space: pre;
      }      
      .logo{
        width: 43vw;
        height: 5.5vmin;  
        position: unset;   
      }
      .dash{
        display: none;
        position: unset;
      }
      .headerRight img{
        display: none;        
      }
      /*TOP---------------------*/
      .top{
        flex-direction: column;
        margin-top: 25px;
      }
      .top-img{
        width: 72vw;
        height: 55vmin;
        margin-left: 45px;
        margin-top: -16px;
      }
      .introduction{
        margin-top: 18px;
      }
      .introduction p{
        font-size: 1.3rem;
        width: 100%;
        letter-spacing: 2px;        
        line-height:1.25;
        margin-top: initial;
        margin-bottom: 20px;
      }
      .info span{
        font-size: 0.8rem;
        letter-spacing: 1.5px;
        line-height: 1.35;
      }
      .info-s-1{
        margin-top: 10px;
      }
      /*CONTACT---------------------*/
      .contact{
        flex-direction: column;
        margin: 30px 20px 0;
      }
      .contact_info{
        width: 100%;
      }
      .contact_info label,
      .contact_info span{
      text-align: left;
      margin-right: none;
      letter-spacing: 0px;
      }
      .secondary{
        width: 100%;
        min-width: none;
        flex-direction: column;
      }
      .tertiary{
        display: initial;
      }
      .Mandatory{
        margin-left: -15px;
      }
      .infomation{
        height: 41px;
      }
      .radio_button div{
        margin-top: 10px;
      }
      .question_info{
        width: 100%;
        height: 190px;
        margin-top: -10px;
      }
      .question_info label{
        margin-bottom: 3px !important;
      }
      textarea::placeholder{
        font-size: 0.825rem;
        max-width: none;
        min-width: none;
      }
      /*fromボタン*/
      .button-content{
        width: 100%;
        height: 50px;
        margin-top: 35px;
        margin-bottom:32px;
      }
      .button{        
        font-size: 0.8rem;        
        width: 363px;
        height: 40px;
        line-height: 40px;        
        font-weight: normal;
      }
      .button:hover{
        font-size: 0.775rem;
        width: 352px;
        height: 39px;
        line-height: 39px;
      }
      .button span{
        top:-1px;
        right: 18px;
        z-index: 2;
      }
      .button-img{
        width: 25px;
        height: 22px;
        position: absolute;
        top: 8px;
        right: 10px;
      }
      /*NAV---------------------*/
      .nav-content{
        height: 300px;
        border-top: 0.1px solid #eeedea; 
      }
      .nc-container{
        display: initial;        
      }
      .nav-icon{
        position: initial; 
        margin-left:38% ;
      }
      /*NAV画像*/
      .pc {display: none;}
      .sp {
        display: block;
        width:105px ;
        height: 68px;
      }
      .nv-p-pc{
        display: none;
      }
      .nv-p-sp{
        font-size: 0.95rem;
        display: block;
        font-weight: bold;
        color: #fff;
        line-height: 1.1rem;
        margin-top: 20px;
        text-align: center;
      }
      .nav-menu{
        width:100% ;
        height: 105px;
        margin-top: 12px;
      }
      .nav-menu-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .nav-menu-list li{  
        width: fit-content;
        font-size: .765rem; 
        margin: 5px;
        padding:3px 10px ;   
        float: none;  
        white-space: nowrap;      
      }
      /*FEATURES---------------------*/
      .features-section{
        margin-top: 20px;
      }
      .section-title{
        font-size: 1.45rem;
        letter-spacing: 3px;
      }
      .section-menu{
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 30px;
      }
      .section-content{
        width: 100%;
        margin-right: unset;
        margin-bottom: 10px;
        padding:0 20px;
      }
      .section-content h2{
        font-size: 2.5rem;
      }
      .section-content h3{
        font-size: 1.35rem;
        letter-spacing: 1px;
      }
      .section-content p{
        font-size: .8rem;
        letter-spacing: 0.8px;
      }
      .section-content ul{  
        font-size: 0.78rem;
      }
      .section-content li::before{
        width: 5px;
        height: 5px;
      }
      .section-content p,
      .section-content li{
        line-height: 1.4;
      }
      /*FEATURES ボタン*/
      .features-section .button-content{
        display: none;
      }
      /*PERFORMANCE-----------------------------*/

      /*大きい実績*/
      .performance-content h2{
        font-size: 1.5rem;
        margin-top: 35px;
        margin-bottom: 25px;
        text-align: center;
      }
      
      .performance-menu{
        flex-direction: column;
        margin-bottom: 45px;
        line-height: 1.2;
      }
      .performance-menu img{
        margin: 0 20px;
        order: 1;
      }
      .performance-menu-text{ 
        max-width: unset;
        min-width: unset;      
        text-align: initial;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 25px;
        order: 2;
      }
      .monotukuri-text,
      .aisei-text{
        margin-left: unset;
      }
      .sb-text{
        margin-right: unset;
      }
      .performance-title{
        font-size: 1.2rem;
        margin-bottom: 10px;  
      }
      .perfonmance-subtitle{
        font-size: 1.2rem;
      }
      .pf-f-list2{
        margin-left: 20px;
      }
      .pf-f-list2 li{
        font-size: 0.775rem;
        margin-bottom: 13px;
      }
      .performance-list{ 
        font-size: 0.8rem;
        width: 100%;
        margin-top: 10px;
        line-height: 1.4;
      }
      .performance-list li::before{
        top: 16px;
      }
      .customer-voice{
        font-size: 0.8rem;
        margin-top:40px;
      }
      .sb-text,
      .aisei-text{
       margin-top:unset;
       height: unset;
      }
      /*小さい実績*/
      .grid-box{
        display: none;
      }
      .r-pf-mini-box{
        display: block;
        margin: 0 20px;
      }
      .r-pf-menu{
        margin-bottom:40px ;
      }
      .r-pf-title{
        font-size: 1rem;
        font-weight: bolder;
        color: #ff9600;
      }
      .r-pf-subtitle{
        font-size: 0.95rem;
        font-weight: bolder;
        margin-top: 8px;
      }
      .r-pf-title,
      .r-pf-subtitle{        
        letter-spacing: 1px;
      }
      .r-pf-menu-text{
        display: flex;
        margin-top: 10px;
      }
      .r-pf-menu-text img{
        width: 38vw;
        height: 32vmin;
      }
      .r-pf-list-box{
        margin-left: 20px;
      }
      .r-pf-list-box ul{
        list-style: none;
        font-size: .75rem;
      }
      .r-pf-f-list2{
        margin-top: 10px;
      }
      .r-pf-f-list1-li2{
        color: #5e8adb;
        text-decoration: underline;
      }
      .r-pf-f-list1-li2-2,
      .r-pf-f-list2-li2{
        color: #808080;
        opacity: .8;
      }
      .r-pf-f-list1-li1,
      .r-pf-f-list2-li1{
        font-family:'Quicksand', sans-serif;
        letter-spacing: 1px;
        font-weight: bold;
      }
      /*PERFORMANCE-ANNOUNCE*/
      .performance-announce{
        height: 245px;
        background: #272727;
        border-top:10px solid #eeedea;
        border-bottom:none;
      }
      .announce-text{
        width:100%;
        padding-top: 45px;
        padding-left: 15px;
        padding-right: 20px;        
        text-align: center;
      }
      .announce-text h2{
        font-size: 1.25rem;
      }
      .announce-text p{
        font-size: 1rem;
        width: 100%;
        margin-top: 20px;
        line-height: 1.25;
      }
      .an-img{
        display: none;
      }
      .r-an-img{
        display: block;
        width: 100%;
        height: 59vmin;
        background-color: #272727;
        background-image: url(../img/spph.png); 
        background-size: cover;
        border-left:none;
        border-bottom: 10px solid #eeedea;
      }
      /*アナウンス　ボタン*/

      .an-button-content{
        width:100%x;
      }
      .performance-announce .button-img{
        opacity: 0.3;
      }
      .an-button{
        width: 250px;
        margin-left: unset;
      }
      .an-button:hover{  
        width: 242px;
      }
      /*QUESTION-----------------------------*/

      .question-section h1{
        font-size: 1.5rem;
        margin-top: 50px;
        letter-spacing: 2px;
      }
      #container{
        display: none;
      }
      .r-question{
        display: block;
        margin-top: 20px;
        padding: 0 20px;
      }
      .r-question-menu{        
        margin-bottom: 30px;
      }
      .r-q-flex{
        display: flex;
      }
      .r-q-flex h2{
        font-size: .95rem;
        margin-top: 3px;
      }
      .r-q-text{
        background: #eeedea;
        padding: 22px 20px;
      }
      .r-q-text h3{
        font-size: .95rem;
      }
      .r-q-text p{
        font-size: .8rem;
        margin-top: 8px;
      }
      .r-q-flex h2,
      .r-q-text h3,
      .r-q-text p{
        letter-spacing: 1px;
      }
      /*request-nav -----------------------------*/
      .nav-flex{
        display: none;
      }
      .request-nav{
        height: 398px;
        border-top: 10px solid #eeedea;
      }
      .r-req-nv{
        display: block;        
        letter-spacing: 1.1px;
      }
      .r-req-nv h2{
        color: #fff;
        margin-top: 35px;
        text-align: center;
      }
      .r-req-flex{
        display: flex;
        margin: 10px 20px 0;
      }
      .r-req-text{
        color: #fff;
        margin: 8px 0 27px;
      }
      .r-req-text h3{
        font-size: .95rem;
        margin-bottom: 4px;
      }
      .r-req-text p{
        font-size: .8rem;
        line-height: 1.35;
      }
      /*お問い合わせ----------------------*/
      .request-content{
        margin-top: 40px;
      }
      .request-content h1{
        font-size: 1.45rem;
      }
      .request-content img{
        width: 85px;
        margin-bottom: 10px;
      }
      .request-p1,
      .request-p2{
        display: none;
      }
      .r-request-p1,
      .r-request-p2{
        display: block;
        font-size: .8rem;
        margin-bottom: 25px;
      }
      /*リクエストコンテンツ　コンタクト部分*/
      .request-content .contact_info,
      .request-content .question_info{
        margin-left:unset ;
      }
      .request-content .question_info{
        width: 100%;
        flex-direction: column;
      }
      .request-content textarea{
        width: 100%;
        margin-left: unset;
      }

      /*TEL-SECTION-----------------------*/
      .tel-section{
        margin: 50px 20px 60px;
        padding-left:unset;
        justify-content: space-between;
      }
      .tel-text{
        margin-left:unset;
      }
      .tel-text h3{
        font-size: .9rem;
        letter-spacing: 1px;
        margin-bottom: 5px;
      }
      .tel-text p{
        font-size: 1.65rem;
        letter-spacing: .5px;
        margin-bottom: 10px;
      }
      .tel-label label,
      .tel-span span{
        margin-bottom: 5px;
        font-size: .75rem;
      }
      .tel-span{
        margin-left: 13px;
      }
      .tel-span a::before{
        content: '\A';
        white-space: pre;
      }
      .tel-img{
        display: none;
      }
      .r-tel-img{
        display: block;
        margin-top: 40px;
        transform: scale(-1,1);
        width: 82px !important ;
        height: 92px;
      }
      /*フッター----------------------*/
      footer{
        height: 365px;
        padding: 0 20px;
      }
      .footer-logo{
        padding-top: 42px;  
        margin-left:unset;
      }
       footer .flex{
        flex-direction: column;
        justify-content: unset;
      }
      footer img{
        width: 186px;
      }
      .footer-text{
        margin-top: 15px;
        margin-left: unset;
      }
      .label-list li,
      .co-list li{
        margin-bottom: 10px;
        letter-spacing: 1px;
      }
      .copyright{
        margin-top: -8px;
      }
      .copyright a::before{
        content: '\A';
        white-space: pre;
      }
      /*フッター　ボタン*/
      .footer-bt-content{
        display: none;
      }
      .r-footer-bt-content{
        display: block;
        margin-top: 20px !important;
        margin-left: 22vw !important;      
        padding: 0 20px;  
      }
      .r-footer-bt-content .button{
        height: 41px;
        line-height: 41px;        
      }
      footer .button:hover{
        width:176px ;
        height: 40px;
      }
      footer .button-img{
        top: 9px;
      }
      .gaide-top{
        display: none;
      }
      /*ガイドボタン　SP　中部*/
      .gaide-middle{
        display: block;
        height: 60px;
        background-color: #eeedea;
        text-align: center;
        display: flex;
        justify-content: center;
        border: 1px solid red;
      }
      .gaide-middle-button{
        font-size: .8rem;
        display: block;
        height: 40px;
        width: 410px;
        margin-top: 10px;
        line-height: 40px;
        background-color: black;
        color: #fff;  
        border-radius: 23px; 
        position: relative;
        transition:all 0.1s;
      }
      .gaide-middle-button:hover{
        font-size: .775rem !important;
        display: block;
        height: 39px;
        width: 405px;
        font-size:.95rem ;
        opacity: 0.8;  
        letter-spacing: normal;
      }
      .gaide-middle-button span{
        color: black;
        position: absolute;
        right: 14px !important;
        z-index: 2;
      }
      .gaide-middle-button img{
        width: 25px;
        position: absolute;
        top: 8px;
        right: 7px;
        z-index: 1;
      }
      .gaide-middle-button img{
        transform: rotate(90deg);  
      }
      .gaide-middle-button span{
        transform: rotate(90deg);
        right: 18px;
      }

      /*ガイドボタン　下部*/
      .gd-position{
        position: absolute;
        top: -32px;
        right: 20px;
      }
      .gaide-under img{
        width: 66px;
      }
      .gaide-under p{
        font-size: .8rem;
        top: 32px;
        left: 16px;

      }

    }

